/*reset*/
body{
  margin: unset;
  padding: unset;

  background-color: #222222;
}

p, h1{
  margin:unset;
  padding: unset;
}

p, h1{
  font-size: 14px;
  font-weight: normal;
  font-family: arial;
}

/* Typography */
:root {
  font-family: "Noto Sans KR", sans-serif;
}

.wrapper{
  background-color:#eeeeee;
  width: 640px;
  height: 326px;
  margin: 150px auto;

  border-radius: 10px;

  
}

/*main*/
.main{
  
}

.chat-wrapper{
  display: flex;
  gap: 18px;
  margin:20px;
}

.profile-img{
  width: 80px;
  height: 80px;

  border-radius: 50%;
  border: solid 4px #ffffff;
}

.bubble{
  background-color: #ffffff;
  border-radius: 8px;
}

/*footer*/
.footer{
  display: flex;
  align-items: center;
}

.out-log{
  color: #999999;
  font-size: 12px;
  align-items: center;
  line-height: 18px;
  width: 200px;
  
}

.dummy{
  display: block;
  width: 200px;
  height: 1px;
  margin: 20px;
  background-color: #999999;

}